body{
    text-align: center;
    
}
button{
    color:brown; 
    background-color: cyan;
    block-size: 50px;
    text-align: center;
    display: block;
    margin: 20px auto;
    border: 0;
    padding: 6px 10px;
    border-radius: 3px;

}
button:hover{
    color:white;
    background: black;
}
li{
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: #eee;
    border: 1px dotted #ddd;
  }
.box{
    width: 200px;
    height: 200px;
    margin: 0px;
    background:#eee;
    text-align: center;
    padding: 20px;
}


.popup-wrapper{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .popup{
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: black;
    position: relative;
    color: white;
  }
  
  .popup a{
    background: crimson;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  .popup-close{
    position: absolute;
    top: 1px;
    right: 0px;
    cursor: pointer;
    width: 10%;
  }

  .popup-close:hover{
    background: red;
    color:white;
    
  }